<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    @import "header2.html"
    <div id="wrapper-content">
        <section class="section-news">
            <div class="container">
                <h2 class="title-ubuntu wow inverse" data-letters="NEWS">NEWS</h2>
                <nav class="nav-news">
                    <ul class="tabs">
                        <li class="tab active">2016</li>
                        <li class="tab">2017</li>
                        <li class="tab">2018</li>
                        <li class="tab">2019</li>
                        <li class="tab">2020</li>
                    </ul>
                </nav>
                <div class="content">
                    <div class="content-item active">
                        <div class="section-news__row">
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                        </div>
                    </div>
                    <div class="content-item">
                        <div class="section-news__row">
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/risen-wang-20jX9b35r_M-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">SWISSLABEL CERTIFICATION</h3>
                            </a>
                            <a href="#" class="news__card">
                                <img src="img/meghan-holmes-buWcS7G1_28-unsplash.png" alt="img" class="news__card-img">
                                <h3 class="news__card-title">NEW : STEPPER / STAIRS</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
    @import "footer.html"
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
