<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col col-between">
                <div>
                    <a href="#" class="logo"><img src="img/logo.svg" alt="logo" class="logo-img"></a>
                    <p class="c-white weight-bold">Switzerland</p>
                </div>
                <p class="c-white  ">Copyright © 2014-2020 Outletics</p>
            </div>
            <div class="footer__col">
                <ul class="footer-menu">
                    <li class="footer-item">
                        <p class="text-20">CONTACT</p>
                        <p class="text-16 weight-regular">Outletics</p>
                        <p class="text-16 weight-regular"><span class="c-red">info@outletics.ch</span> <br>outletics.ch</p>
                    </li>
                    <li class="footer-item">
                        <p class="text-20">ADDRESS</p>
                        <p class="text-16 weight-regular address"><img src="img/point.png" alt="point" class="img-point">Ch. de la Clergère 31 <br> 1009 Pully</p>
                        <p class="text-16 weight-regular address"><img src="img/point.png" alt="point" class="img-point">570 Lexington Avenue<br> 15th Floor<br> New York, NY 10022</p>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <p class="text-20">FOLLOW US</p>
                <div class="socials">
                    <a href="#" class="social">
                        <img src="img/icon-facebook-square.svg" alt="facebook" class="social-icon">
                    </a>
                    <a href="#" class="social">
                        <img src="img/icon-instagram.svg" alt="instagram" class="social-icon">
                    </a>
                    <a href="#" class="social">
                        <img src="img/icon-linkedin.svg" alt="in" class="social-icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="up">
        <img src="img/up.png" alt="up" class="up__icon">
    </a>
</footer>
