<!-- header.html -->
<header class="header bg-black">
    <div class="gradient no--gradient"></div>
    <div class="row">
        <div class="header-row">
            <a href="#" class="logo">
                <img src="img/logo.svg" alt="logo" class="logo__icon">
            </a>
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#" class="menu-link">PRODUCTS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">NEWS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">LOCATIONS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">VIDEOS</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-row">
            <div class="lang">
                <div class="select">
                    <div class="select-item">en</div>
                    <div class="select-drop">
                        <ul class="select-menu">
                            <li class="select-option">
                                <a href="#" class="select-link active">en</a>
                            </li>
                            <li class="select-option">
                                <a href="#" class="select-link">fr</a>
                            </li>
                            <li class="select-option">
                                <a href="#" class="select-link">de</a>
                            </li>
                            <li class="select-option">
                                <a href="#" class="select-link">it</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="burger">
                <span class="burger-line burger-line-top"></span>
                <span class="burger-line burger-line-center"></span>
                <span class="burger-line burger-line-bottom"></span>
            </div>
        </div>

    </div>
</header>