<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    @import "header2.html"
    <div id="wrapper-content">
        <div class="pruducts ">
            <div class="pruducts-container">
                <nav>
                    <ul class="tabs">
                        <li class="tab active">MOBILITY</li>
                        <li class="tab">CARDIO TRAINING</li>
                        <li class="tab">strength</li>
                        <li class="tab">KIDS</li>
                        <li class="tab">EXPERTS</li>
                    </ul>
                </nav>
                <div class="content wow fadeInUp">
                    <div class="content-item active">
                        <div class="slider-products">
                            <div class="slider-slide wow pulse2" data-wow-duration="0.3s">
                                <img src="img/outletics_home_page/product_1.png" alt="Marcheur" class="slider-img">
                            </div>
                            <div class="slider-slide wow pulse2" data-wow-duration="0.3s">
                                <img src="img/outletics_home_page/product_3.png" alt="Banc Abdo" class="slider-img">
                            </div>
                            <div class="slider-slide wow pulse2" data-wow-duration="0.3s">
                                <img src="img/outletics_home_page/product_4.png" alt="Volants" class="slider-img">
                            </div>
                            <div class="slider-slide wow pulse2" data-wow-duration="0.3s">
                                <img src="img/outletics_home_page/product_5.png" alt="ascenseur" class="slider-img">
                            </div>
                            <div class="slider-slide wow pulse2" data-wow-duration="0.3s">
                                <img src="img/outletics_home_page/product_2.png" alt="Marcheur" class="slider-img">
                            </div>
                            <div class="slider-slide wow pulse2" data-wow-duration="0.3s">
                                <img src="img/outletics_home_page/product_3.png" alt="Banc Abdo" class="slider-img">
                            </div>
                            <div class="slider-slide wow pulse2" data-wow-duration="0.3s">
                                <img src="img/outletics_home_page/product_4.png" alt="Volants" class="slider-img">
                            </div>
                            <div class="slider-slide wow pulse2" data-wow-duration="0.3s">
                                <img src="img/outletics_home_page/product_5.png" alt="ascenseur" class="slider-img">
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="btn">THE SHOULDER WHEEL</a>
            </div>
        </div>
        <div class="pruducts-inner">
            <div class="pruducts-inner__flex">
                <div class="pruducts-inner__half">
                    <img src="img/outletics_home_page/product_1.png" alt="product" class="pruducts-inner__img">
                </div>
                <div class="pruducts-inner__half bg-dark">
                    <button type="close" class="close"></button>
                    <div>
                        <h2 class="pruducts-inner__title">THE SHOULDER WHEEL</h2>
                        <div class="pruducts-inner__texts">
                            <p class="pruducts-inner__text">Anti-graffiti, solvent-free machine in galvanised steel.</p>
                            <p class="pruducts-inner__text">The relaxation machine improves the function of the upper body's joints.</p>
                            <p class="pruducts-inner__text">It is highly recommended for people with joint pain and seniors.</p>
                        </div>
                    </div>
                    <div class="row">
                        <a href="#" class="pruducts-inner__btn pruducts-inner__prev">
                            <img src="img/arrow_left.svg" alt="prev" class="pruducts-inner__arrow">
                            <span class="text-16">PREVIOUS PRODUCT</span>
                        </a>
                        <a href="#" class="pruducts-inner__btn pruducts-inner__next">
                            <span class="text-16">NEXT PRODUCT</span>
                            <img src="img/arrow_right.svg" alt="next" class="pruducts-inner__arrow">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @import "footer.html"
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
